body {
	background-image: url(https://vignette.wikia.nocookie.net/bokunoheroacademia/images/a/a7/U.A._Main_Building.png/revision/latest?cb=20160508230412);
	margin-left: 160px;
}

.logo img{
	height: 150px;
	width: 320px;
}

nav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: yellow;
}

.desc {
	text-align: center;
	background-color: white;
	border-radius: 20px;
	padding: 3px;
	border-width: 7px;
	border-style: solid;
	border-color: red;

}

.desc h1 {
	color: #ed2a11;
	font-size: 50px;
}

.desc h3 {
	color: #ed2a11;
	font-size: 30px;
}

.desc p {
	color: #ed2a11;
	font-size: 27px;
}

#thumbnail {
	height: 400px;
	width: 520px;
	border-radius: 10px;
}

.image1 p, .image2 p, .image3 p {
	font-size: 35px;
	color: red;
	text-align: center;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: red;
}

.image1 a, .image2 a, .image3 a {
	text-decoration: none;

}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#pic {
	border-radius: 15px;
	height: 200px;
	width: 200px;
}

.icon1 p, .icon2 p, .icon3 p, .icon4 p, .icon5 p, .icon6 p, .icon7 p, .icon8 p, .icon9 p, .icon10 p, .icon11 p, .icon12 p, .icon13 p, .icon14 p, .icon15 p, .icon16 p, .icon17 p, .icon18 p, .icon19 p, .icon20 p {
	font-size: 17px;
	color: red;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	padding: 5px;

} 