body {
	background-image: url(https://vignette.wikia.nocookie.net/bokunoheroacademia/images/a/a7/U.A._Main_Building.png/revision/latest?cb=20160508230412);
	margin-left: 160px;
}

.logo img {
	height: 150px;
	width: 320px;
}

nav {
	height: 100%;
	width: 140px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: #ebff36;
}

#link1, #link2, #link3, #link4 {
	color: red;
	font-size: 25px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}

#click1, #click2, #click3, #click4 {
	padding: 10px;
	text-align: center;
}

.desc {
	text-align: center;
	background-color: white;
	border-radius: 20px;
	padding: 3px;
	border-width: 7px;
	border-style: solid;
	border-color: red;

}

.desc h1 {
	color: #ed2a11;
	font-size: 50px;
}

.desc h3 {
	color: #ed2a11;
	font-size: 30px;
}

.desc p {
	color: #ed2a11;
	font-size: 27px;
}

#thumbnail {
	height: 400px;
	width: 520px;
	border-radius: 10px;
}

.image1 p, .image2 p, .image3 p {
	font-size: 35px;
	color: red;
	text-align: center;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: red;
}

.image1 a, .image2 a, .image3 a {
	text-decoration: none;

}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.title {
	font-size: 45px;
	color: red;
	text-align: center;
}

#image {
	height: 300px;
	width: 600px;
	border-radius: 8px;
}

.title1 {
	background-color: white;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	border-radius: 10px;
	padding: 10px
}

.title2 {
	background-color: white;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	border-radius: 10px;
	padding: 10px;
}

.title1 img {
	float: left;
}

.title1 h2 {
	color: red;
	font-size: 35px;
}

.title1 p {
	display: inline;
	font-size: 20px;
}

.title2 img {
	float: right;
}

.title2 h2 {
	color: red;
	font-size: 35px;
}

.title2 p {
	display: inline;
	font-size: 20px;
}

#pic {
	border-radius: 15px;
	height: 200px;
	width: 200px;
	background-color: white;
}

.icon1 p, .icon2 p, .icon3 p, .icon4 p, .icon5 p, .icon6 p, .icon7 p, .icon8 p, .icon9 p, .icon10 p, .icon11 p, .icon12 p, .icon13 p, .icon14 p, .icon15 p, .icon16 p, .icon17 p, .icon18 p, .icon19 p, .icon20 p {
	font-size: 17px;
	color: red;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	padding: 5px;

}

.icon1 a, .icon2, a, .icon3 a, .icon4 a, .icon5 a, .icon6 a, .icon7 a, .icon8 a, .icon9 a, .icon10 a, .icon11 a, .icon12 a, .icon13 a, .icon14 a, .icon15 a, .icon16 a, .icon17 a, .icon18 a, .icon19 a, .icon20 a {
	text-decoration: none;
}

.outfits {
	text-align: center;
}

.profile {
	float: right;
}

#pro {
	height: 700px;
	width: 320px;
	border-radius: 8px;
	background-color: white;
}

.info {
	background-color: white;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

.info h2 {
	font-size: 35px;
	text-align: center;
	color: red;
}


.info h3 {
	font-size: 25px;
	color: red;
}

.info p, .info ul {
	font-size: 20px;
}